:root {
    --main-rose-color : #f777a8;
    --main-red-color  : #ff0000;
    --main-black-color: #000000;
    --main-wite-color : #ffffff;
    --main-email-color:#741308;

}
body {
    background-color: var(--main-wite-color);
    font-family     : 'Ubuntu Condensed',
        sans-serif;
}
.seccion-articulos{
    display:flex;
}
.seccion-articulos .articulo{
    width: 33%;
}

.leyenda{
text-align: center;
}
header {
    display        : flex;
    justify-content: center;
}
.container-suscriber {
    margin-top:250px;
}
.suscriber {
    text-align: center;
}

nav {
    display        : flex;
    justify-content: space-around;
    padding        : 10px;
    margin         : 40px;
}

.menu a {
    text-decoration: none;

    font-size    : 20px;
    padding      : 5px 10px;
    border       : 2px solid #FF9FB7;
    border-radius: 5px;
    color        : rgb(34, 33, 33);

}

.menu a:hover {
    background-color: #FF9FB7;
    color           : #fff;
}

li {
    list-style    : none;
    flex-direction: row;
}

.logo {
    border-radius: 50%;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.logo:hover {
    border-radius: 50%;
    box-shadow   : 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

legend {
    font-size: 25px;
    font-family: fantasy;
}
.container-suscriber{
    width:100%
}
.container-suscriber form{
    justify-content:center;
}
.container-suscriber label {
    text-align: left;
    padding   : 5px;
}
.container-suscriber .input {
    border : 2px solid #000;
    width  : 100%;
    height : 25px;
    padding: 5px 15px;
}

.input:focus{
    border : 2px solid #FF9FB7;
outline : 2px solid #FF9FB7;
}

.boton {
    width           : 30%;
    height          : 40px;
    background-color: #000000;
    color           : #FFF;
    border-radius   : 5px;
    font-weight     : 800;
    cursor          : pointer;
}
.boton:hover{
    color : #FF9FB7;
    border: 3px solid #FF9FB7;
}
footer{
    text-align: center;
    padding:20px;
}
.email{
    text-decoration: none;
    color : var(--main-email-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}